<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" class="title-container" style="font-size: 1.75rem;">
      <ion-icon name="checkmark-done-circle-outline" size="large" class="icon-title"></ion-icon>
      Task Master
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title-container">
        <ion-icon name="checkmark-done-circle-outline" size="large" class="icon-title"></ion-icon>
        Task Master
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <br />

  <ion-input (ionInput)="handleSearch($event)" fill="outline" class="input-search" placeholder="Buscar...">
    <ion-icon name="search-outline" style="font-size: 24px;" slot="end"></ion-icon>
  </ion-input>

  <br />

  <!-- Estado vacío -->
  @if (tasksFiltered.length === 0) {
  <div class="empty-container">
    <ion-icon name="alert-circle-outline" style="font-size: 64px; color: #4d8dff;width: auto;"></ion-icon>
    <ion-label>
      @if (search) {
      No hay coincidencias con el filtro aplicado.<br />
      ¡Intenta ajustar tu búsqueda!
      } @else {
      Aún no hay tareas.<br />
      ¡Agrega algunas para empezar!
      }
    </ion-label>
  </div>
  }

  @for (category of categories; track category) {
  @if (hasTasksForCategory(category)) {
  <ion-accordion-group [multiple]="true" class="task-container">
    <ion-accordion [value]="category + '-' + $index">
      <ion-item slot="header" color="translucent">
        <ion-label>{{ category }}</ion-label>
      </ion-item>

      <div slot="content">
        @for (task of getTasksByCategory(category); track task.category + '/' + task.name.replace(' ', '_')) {
        <ion-card class="card-container">
          <ion-checkbox [checked]="task.isChecked" (ionChange)="handleCheckbox(task, $event)" labelPlacement="end"
            style="margin-left: 1em; width: 100%;">
            <ion-card-header class="content-wrap">
              <ion-card-title>{{ task.name }}</ion-card-title>
            </ion-card-header>

            <ion-card-content class="content-wrap">
              {{ task.description }}
            </ion-card-content>
          </ion-checkbox>
        </ion-card>
        }
      </div>
    </ion-accordion>
  </ion-accordion-group>
  }
  }
</ion-content>